@model List<Category>
        
            @if (!Model.Any())
            {
               
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                   NO DATA FOUND
                        </div>
                
            }

            else
            {
                <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Table</th>
                   
                </tr>
            </thead>
            <tbody>
 
                 @foreach (var item in @Model)
            {
                <tr>

                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
             } 
             </tbody>
             </table>
            }
           
      