@using Hudalibraryproject.ViewModel
@model AuthorVM

@section Title {
Author
}
@section subTitle {
Details
}
<div class="card-body">
	<table class="table table-bordered">
		<thead>
			<tr>

				<th>Name</th>
				<th>CreatedTo</th>
				<th>UpdatedtedTo</th>
			</tr>
		</thead>
		<tbody>

			<tr>

				<td>@Model.Name</td>
				<td>@Model.CreatedON</td>
				<td>@Model.UpdatedOn</td>
				<td>
				</td>
			</tr>



		</tbody>


	</table>

</div>